.author {
  display: flex;
  justify-content: space-between;
}

.author__name {
  font-size: 21px;
  margin-right: 15px;
  font-family: serif;
  font-weight: bold;
  color:yellow;
  text-shadow: 0 0 5px rgb(228, 250, 27);
  transition: text-shadow 0.5s ease ;
}

.author__name:hover {
  text-shadow: 0 0 20px rgb(228, 250, 27);
}

.author__nickname {
  color:rgb(121, 119, 119);
  font-style: italic;
  font-size: 21px;
  margin-right: 15px;
  transition: text-shadow 0.5s ease ;
}

.author__nickname:hover {
  text-shadow: 0 0 20px rgb(228, 250, 27);
}

.author__date {
  color:rgb(121, 119, 119);
  font-size: 14px;
  line-height: 3;
}